{% extends 'base.twig' %}

{% block page_title %}Post{% endblock %}
{% block css %}
    {{ asset('pages/post.css') }}
{% endblock %}

{% block body %}
    <!-- Wrapper container -->
    <div class="container py-4">

        <!-- Bootstrap 5 starter form -->
        <form id="contactForm">

            <!-- Name input -->
            <div class="mb-3">
                <label class="form-label"  for="name">Nom - Prénom</label>
                <input class="form-control" id="nom" type="text" placeholder="Nom - Prénom" {% if user!="" %}value="{{ user.nom}} {{ user.prenom}}"{% endif%} data-sb-validations="required" />
            </div>

            <!-- Email address input -->
            <div class="mb-3">
                <label class="form-label" for="emailAddress">Email</label>
                <input class="form-control" id="emailAddress" type="email" placeholder="Email"  {% if user!="" %}value="{{ user.email}}"{% endif%} data-sb-validations="required, email" />
            </div>

            <!-- Object input -->
            <div class="mb-3">
                <label class="form-label" for="Object">Sujet</label>
                <input class="form-control" id="object" type="text" placeholder="Sujet" data-sb-validations="required" />
            </div>

            <!-- Message input -->
            <div class="mb-3">
                <label class="form-label" for="message">Message</label>
                <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
            </div>

            <!-- Form submit button -->
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="savecontact" type="submit">Valider</button>
            </div>

        </form>

    </div>
{% endblock %}

{% block js %}
    {{ asset('pages/contact.js') }}
{% endblock %}
