{% extends 'base.twig' %}

{% block page_title %}Post{% endblock %}
{% block css %}
    {{ asset('pages/post.css') }}
{% endblock %}

{% block body %}
    <main class="mt-4 mb-5">

        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    {% if editor=='true' %}
                    <!--Div: Editor-->
                    <button type="button" id="save" value="{{ post.id }}">Enregistrer</button>
                    <div  name="editor" id="editor">{{ post.content|raw }}</div>
                    <!--Div: Editor-->
                    {% else %}

                    <!--Section: Post img-->
                    <section class="border-bottom mb-4">
                        <img src="{{ asset(post.img) }}"
                             class="img-fluid shadow-2-strong rounded mb-4" alt="" />

                        <div class="row align-items-center mb-4">
                            <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                                <img src="{{ asset('imguser.png') }}" class="rounded shadow-1-strong me-2"
                                     height="35" alt="" loading="lazy" />
                                <span> Publier le <u>{{ post.creation_date|date("d/m/Y") }}</u></span>
                                <a href="" class="text-dark">{{ post.id_users.username }}</a>
                            </div>
                        </div>
                    </section>
                    <!--Section: Post img-->

                    <!--Section: Text-->
                    <section>
                        {{ post.content|raw }}
                    </section>
                    <!--Section: Text-->
                    {% endif %}
                    <!--Section: Share buttons-->
                    <section class="text-center border-top border-bottom py-4 mb-4">
                        <p><strong>Share with your friends:</strong></p>

                        <button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
                            <i class="fab fa-linkedin"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1">
                            <i class="fas fa-comments me-2"></i>Nouveau commentaire
                        </button>
                    </section>
                    <!--Section: Share buttons-->

                    <!--Section: Comments-->
                    <section class="border-bottom mb-3">
                        <p class="text-center"><strong>Comments: {{  comments|length }}</strong></p>
                        {% for com in comments %}
                            <!-- Comment -->
                            <div class="row mb-4">
                                <div class="col-2">
                                    <img src="{{ asset('imguser.png') }}"
                                         class="img-fluid shadow-1-strong rounded-5" alt="" />
                                </div>

                                <div class="col-10">
                                    <p class="mb-2"><strong>{{ com.nom  }} {{ com.prenom  }}</strong></p>
                                    <p>
                                        {{ com.comment  }}
                                    </p>
                                </div>
                            </div>

                        {% endfor %}
                    </section>
                    <!--Section: Comments-->

                    <!--Section: Reply-->
                    <section>
                        <p class="text-center"><strong>Nouveau commentaire</strong></p>

                        <form>
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="nom" class="form-control" />
                                <label class="form-label" for="nom">Nom</label>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="prenom" class="form-control" />
                                <label class="form-label" for="prenom">Prénom</label>
                            </div>

                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <textarea class="form-control" id="commentair" rows="4"></textarea>
                                <label class="form-label" for="commentair">Commentaire</label>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="rgpd" checked />
                                <label class="form-check-label" for="rgpd">
                                    Accepté les Conditions générale
                                </label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Valider
                            </button>
                        </form>
                    </section>
                    <!--Section: Reply-->
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </main>

{% endblock %}

{% block js %}
    {{ asset('plugins/ckeditor/ckeditor.js') }}
{#    {{ asset('plugins/ckeditor/plugin.js') }}#}
    {% if editor=='true' %}
        {{ asset('pages/post.js') }}
    {% endif %}
    <script>
        {#var editor;#}
        {#ClassicEditor#}
        {#    .create( document.querySelector( '#editor' ),#}
        {#        {#}
        {#            // filebrowserUploadUrl:'http://localhost/P5/updatepost',#}
        {#            // filebrowserUploadMethod:'form',#}
        {#            simpleUpload: {#}
        {#                uploadUrl: 'http://example.com'#}
        {#                }#}
        {#        })#}
        {#    .then( neweditor => {#}
        {#        editor = neweditor;#}
        {#        console.log(editor);#}
        {#        #}{#editor.setData("<p>{{ post.content|raw }}</p>")#}

        {#    })#}
        {#    .catch( error => {#}
        {#        console.error( error );#}
        {#    } );#}

        {#$('#save').click(function (event) {#}
        {#    console.log(editor.getData());#}
        {#    $.post('/P5/updatepost', {id: {{ post.id }}, content: editor.getData()})#}
        {#        .done(data => data && data === 'true'?document.location.href="/P5":console.log('kos'))#}
        {#        .fail()#}
        {#        .always();#}
        {#});#}
    </script>
{% endblock %}